#header {
  background-color: #192F6B;
  color: #CA001A;
  text-align: center;
  padding: 5px;
  font-family: Freshman, sans-serif;
}
#header h1 {
}
body {
  background-color: #A2AAAD;
}
li a {
  color: #192F6B;
}
li a:visited {
  color: #A2AAAD
}
li a:hover {
  background-color: color:#192F6B;
}
#nav {
  float: left;
  background-color: #CA001A;
  height: 800px;
}
ul {
  list-style-type: none;
  width: 150px;
  margin: 0;
  padding: 0;
  border: 1px;
}
li {
  display: block;
  padding: inherit;
}
#content {
  align-items: stretch;
}
#footer {
  background-color: #192F6B;
  text-align: center;
  clear: both;
  color: #A2AAAD
}
