#header {
  background-color: #192F6B;
  color: #CA001A;
  text-align: center;
  padding: 5px;
  font-family: Freshman, sans-serif;
}
body {
  background-color: #A2AAAD;
}
#nav {
  float: left;
  background-color: #CA001A;
  height: 706px;
}
#nav li a {
  color: #192F6B;
  display: block;
  margin: 20px;
  text-decoration: none;

}
#nav li a:visited {
  color: #A2AAAD
}
#nav li:hover {
  display: flex;
  background-color:#192F6B;

}
ul {
  list-style-type: none;
  width: 150px;
  margin: 0;
  padding: 0;
  border: 1px;
}
li a {
  display: block;
  padding: inherit;
}
#content {
  border: 0px;

}
#footer {
  background-color: #192F6B;
  text-align: center;
  clear: both;
  color: #A2AAAD
}
